.signup_page_container{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background:linear-gradient(315deg, #00e4a6 0%, #86e559 74%);

  .signup_form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 700px;
    max-width: 95%;
    height: auto;
    padding: 30px;
    box-sizing:border-box;
    box-shadow: 0 0 5px grey;
    background-color: white;
  }

  .form_title{
    font-size: 24px;
    font-weight: 600;
    color: green;
    margin:10px 0px 10px 10px;
  }

  .form_container{
    position: relative;
    display: grid;
    grid-template-columns:45% 45%;
    justify-content:space-evenly;

    .input_container{
      margin-top: 10px;
      .input_label{
        font-size: 14px;
        color: grey;
        transition:all 0.3s;
      }

      input[type='text'], input[type='tel'], input[type='email'],input[type='password']{
        height: 35px;
        width: 100%;
        border:none;
        outline: none;
        border-bottom: 2px solid grey;
        transition:all 0.3s;

      }
      &:focus-within{
        input[type='text'], input[type='tel'], input[type='email'],input[type='password']{
          border-color: green;
        }

        .input_label{
          color: green;
        }
      }

      .date_picker{
        outline: none;
        box-shadow: none;
        resize:none;
        width: 100%;
        height: 40px;
        border-bottom: 2px solid grey;
        box-sizing:border-box;

        .react-date-picker__wrapper{
          border:none;

          .react-date-picker__calendar .react-calendar{
            width: 100% !important;
          }

          .react-date-picker__inputGroup__input ::-moz-selection {
            background-color: transparent;
            color: #000;
          }

          .react-date-picker__inputGroup__input::selection {
            background-color: transparent;
            color: #000;
          }
        }
      }
    }

    @media(max-width: 800px){
     grid-template-columns:100%;
    }
  }

  .form_footer{
    width: 100%;
    padding-right: 20px;
    box-sizing:border-box;
    text-align: right;
    margin-top: 20px;

    .signup_button{
      padding: 8px 20px;
      background-color: green;
      border:1px solid green;
      color: white;
      border-radius: 5px;
    }
  }

  .input_error{
    position: fixed;
    display: none;
    left:50%;
    top: 50%;
    padding: 10px;
    box-sizing:border-box;
    background-color: #555;
    color: white;
    border-radius: 5px;
    max-width: 200px;
  }

  .ghost{
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  .alert_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background-color: white;
    height: auto;
    width:300px;
    max-width: 95%;
    padding: 20px;
    box-sizing:border-box;
    border-radius: 5px;

    .ok_button{
      display: inline-block;
      padding: 8px 14px;
      box-sizing:border-box;
      margin-top: 10px;
      background-color: blue;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}