.header_container{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgrey;
  display: grid;
  grid-template-columns:max-content auto max-content max-content;
  align-items:center;
  grid-column-gap:5px;
  z-index: 2020;
  background-color: white;

  .company_name{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-left: 5px;
  }


  .logout_button{
    color: red;
    margin-right: 5px;
    padding: 5px;
  }
}