.dashboard_page_container{
  position: relative;
  margin-top: 60px;

  .page_title{
    margin: 20px 0px 0px 20px;
    font-weight: 500;
    font-size: 20px;
  }

  .welcome_message{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 30px;
  }
}