.login_page_container{
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background:linear-gradient(315deg, #00e4a6 0%, #86e559 74%);

  .login_form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 400px;
    max-width: 95%;
    height: auto;
    padding: 30px;
    box-sizing:border-box;
    box-shadow: 0 0 5px grey;
    background-color: white;
  }

  .form_title{
    font-size: 24px;
    font-weight: 600;
    color: green;
    margin:10px 0px 10px 10px;
  }

  .input_container{
    margin: 20px 0 20px 0;
    width: 100%;
    .input_label{
       width: 100%;
      font-size: 14px;
      color: grey;
      transition:all 0.3s;
    }

    input[type='text'], input[type='tel'], input[type='email'],input[type='password']{
      height: 35px;
      width: 100%;
      border:none;
      outline: none;
      border-bottom: 2px solid grey;
      transition:all 0.3s;

    }
    &:focus-within{
      input[type='text'], input[type='tel'], input[type='email'],input[type='password']{
        border-color: #166fe5;
      }

      .input_label{
        color: #166fe5;
      }
    }
  }
  

  .form_footer{
    width: 100%;
    box-sizing:border-box;
    margin-top: 20px;
    text-align: center;

    .login_button{
      position: relative;
      padding: 8px 20px;
      box-sizing:border-box;
      width:100%;
      background-color: #166fe5;
      border:1px solid #166fe5;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    .create_new_button{
      position: relative;
      width: 100%;
      text-align: left;
      margin-top: 20px;
      color: green;
      cursor: pointer;
      // text-decoration: none;

    }
  }

}